<a href="https://colab.research.google.com/github/financieras/math/blob/main/retos/reto3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reto 3. Edificios
* Disponemos de un tablero de 4x4 casillas (ver zona amarilla de los ejemplos)
* En cada una de las casillas podemos situar un edificio
* Los edificios pueden ser de altura 1, 2, 3 o 4
* En cada fila solo puede haber un edificio de cada altura
* En cada columna solo puede haber un edificio de cada altura  

**Ejemplo 1**

<img src="https://github.com/financieras/math/blob/main/img/ejemplo1_orlado.png?raw=1" alt="ejemplo1" width="200">

**Ejemplo 2**

<img src="https://github.com/financieras/math/blob/main/img/ejemplo2_orlado.png?raw=1" alt="ejemplo2" width="200">

* Si miramos cada calle por un cierto lado, los edificios más grandes ocultan la visión de los edificios que son de menos altura.
* En las celdas que orlan nuestra matriz (zona gris) se muestran el número de edificios que son visibles según se mire una calle por un lado o por otro.
* La orla de nuestra matriz está compuesta por 16 números en color gris que siguen el siguiente orden:
1. primero van los cuatro de la fila superior, para el ejemplo 1 son 4321
2. luego van los cuatro de la fila inferior, para el ejemplo 1 son 1222
3. luego van los cuatro de la columna izquierda, para el ejemplo 1 son 4321
4. finalmente van los cuatro de la columna derecha, para el ejemplo 1 son 1222
Todos los elementos grises que orlan nuestra matriz ordenados forman un número que llamaremos vista:
* para el primer ejemplo:  vista = "4 3 2 1 1 2 2 2 4 3 2 1 1 2 2 2" 
* para el segundo ejemplo: vista = "4 2 2 1 1 2 2 4 3 2 2 1 1 2 2 3"

Programando en Python, se pide:

1. Crear la función **manzana** que aleatoriamente nos permita generar una manzana de edificios entre todas las manzanas posibles. Una manzana de edificios vendrá representada por una matriz 4x4, donde los números 1,2,3,4 no se repitan en cada fila, ni en cada columna.

2. Crear la función **vision** a la que pasamos una manzana en forma de matriz y retorna su vista correspondiente. La vista es un string de 16 números separados por espacios que representan las vistas de las calles tal y como se han mostrado en los ejemplos anteriores.

3. Crear la función **genera** a la que pasamos un string de vistas y retorna la manzana de edificios, en forma de matriz. Si existen varias posibles manzanas que se correspondan con ese string de vistas, dar la matriz de una de ellas.

In [1]:
# Ejmeplo basándonos en el ejemplo 2 anterior
# La función manzana al invocarla nos devolvería una matriz 4x4
# que se vería tal y como se imprime aquí

m = [[1,3,2,4],
     [2,4,1,3],
     [3,1,4,2],
     [4,2,3,1]]

for i in m:
    print(*i)

1 3 2 4
2 4 1 3
3 1 4 2
4 2 3 1

In [2]:
# La función vision retorna un string
# que para el ejemplo anterior sería el siguiente

cadena = "4 2 2 1 1 2 2 4 3 2 2 1 1 2 2 3"
print(cadena)

4 2 2 1 1 2 2 4 3 2 2 1 1 2 2 3

In [3]:
# La función genera recibe el string anterior y sin conocer la matriz original
# tendrá que retornar la manzana de edificios en forma de matriz
# Si todo ha ido correctamente la función genera devolverá la matriz original

m = [[1,3,2,4],
     [2,4,1,3],
     [3,1,4,2],
     [4,2,3,1]]

for i in m:
    print(*i)

1 3 2 4
2 4 1 3
3 1 4 2
4 2 3 1