<a href="https://colab.research.google.com/github/financieras/math/blob/main/combina/factorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Factorial

Dado un número entero $(n \geq 0)$ podemos calcular su factorial multiplicando por él mismo y los anteriores hasta llegar a 1.

$$n! \  = \  n \cdot (n-1) \cdot (n-2) \cdot (n-3) \  \cdots \  3 \cdot 2 \cdot 1$$

**Ejemplo**  
$$5! \  = \  5 \cdot 4 \cdot 3 \cdot 2 \cdot 1 = 120$$

Por definición el factorial de cero es 1.

$$0! = 1$$

## Método 1
Utilizamos una librería de Python para calcular el factorial de un número.

In [ ]:
import math
math.factorial(5)

120

In [ ]:
# Vamos a calcular el factorial de una serie de números

from math import factorial

for i in range(51):
    print(f"Para n={i:2d} el factorial es: {factorial(i):65d}")

Para n= 0 el factorial es:                                                                 1
Para n= 1 el factorial es:                                                                 1
Para n= 2 el factorial es:                                                                 2
Para n= 3 el factorial es:                                                                 6
Para n= 4 el factorial es:                                                                24
Para n= 5 el factorial es:                                                               120
Para n= 6 el factorial es:                                                               720
Para n= 7 el factorial es:                                                              5040
Para n= 8 el factorial es:                                                             40320
Para n= 9 el factorial es:                                                            362880
Para n=10 el factorial es:                                                           3628800
Para n=11 el factorial es:                                                          39916800
Para n=12 el factorial es:                                                         479001600
Para n=13 el factorial es:                                                        6227020800
Para n=14 el factorial es:                                                       87178291200
Para n=15 el factorial es:                                                     1307674368000
Para n=16 el factorial es:                                                    20922789888000
Para n=17 el factorial es:                                                   355687428096000
Para n=18 el factorial es:                                                  6402373705728000
Para n=19 el factorial es:                                                121645100408832000
Para n=20 el factorial es:                                               2432902008176640000
Para n=21 el factorial es:                                              51090942171709440000
Para n=22 el factorial es:                                            1124000727777607680000
Para n=23 el factorial es:                                           25852016738884976640000
Para n=24 el factorial es:                                          620448401733239439360000
Para n=25 el factorial es:                                        15511210043330985984000000
Para n=26 el factorial es:                                       403291461126605635584000000
Para n=27 el factorial es:                                     10888869450418352160768000000
Para n=28 el factorial es:                                    304888344611713860501504000000
Para n=29 el factorial es:                                   8841761993739701954543616000000
Para n=30 el factorial es:                                 265252859812191058636308480000000
Para n=31 el factorial es:                                8222838654177922817725562880000000
Para n=32 el factorial es:                              263130836933693530167218012160000000
Para n=33 el factorial es:                             8683317618811886495518194401280000000
Para n=34 el factorial es:                           295232799039604140847618609643520000000
Para n=35 el factorial es:                         10333147966386144929666651337523200000000
Para n=36 el factorial es:                        371993326789901217467999448150835200000000
Para n=37 el factorial es:                      13763753091226345046315979581580902400000000
Para n=38 el factorial es:                     523022617466601111760007224100074291200000000
Para n=39 el factorial es:                   20397882081197443358640281739902897356800000000
Para n=40 el factorial es:                  815915283247897734345611269596115894272000000000
Para n=41 el factorial es:                33452526613163807108170062053440751665152000000000
Para n=42 el factorial es:              1405006117752879898543142606244511569936384000000000
Para n=43 el factorial es:             60415263063373835637355132068513997507264512000000000
Para n=44 el factorial es:           2658271574788448768043625811014615890319638528000000000
Para n=45 el factorial es:         119622220865480194561963161495657715064383733760000000000
Para n=46 el factorial es:        5502622159812088949850305428800254892961651752960000000000
Para n=47 el factorial es:      258623241511168180642964355153611979969197632389120000000000
Para n=48 el factorial es:    12413915592536072670862289047373375038521486354677760000000000
Para n=49 el factorial es:   608281864034267560872252163321295376887552831379210240000000000
Para n=50 el factorial es: 30414093201713378043612608166064768844377641568960512000000000000

## Método 2
Creamos nuestra propia función para calcular el factorial.

In [ ]:
def factor(n):
    f = 1                      # inicializamos la variable f que ira creando el factorial
    for i in range(1, n+1):    # i es una variable auxiliar que va desde 1 hasta n
        f *= i                 # equivale a poner f = f * i
    return f                   # al final se retorna el valor del f que ya contiene el factorial

factor(5)

120

## Método 3
Calculamos el factorial por recursión

In [1]:
def fact(n):                     # por recursión
    if n == 0:                   # caso base
        return 1
    else:
        return n * fact(n-1)    # la función se llama a si misma con un n menor en una unidad

fact(5)

120