<a href="https://colab.research.google.com/github/financieras/math/blob/main/python/math050for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bucle `For`
* Un bucle o **loop** es un proceso que se repite un cierto número de veces.
* Es un proceso repetitivo, reiterativo
* El bucle For se repite un número de veces conocido, un número de veces concreto.

```python
for <variable> in <lista>:
    <código>
```

In [ ]:
ciudades =["Roma", "Londres", "París", "Madrid", "Berlín"]

for ciudad in ciudades:
    print(ciudad)

In [ ]:
for ciudad in ciudades:
    if ciudad == "Madrid" or ciudad == "Roma":
        print(ciudad)

## `For` con `range`

In [ ]:
# range crea un iterable de números enteros
range(1,10)

In [ ]:
# convertimos el rango en una lista
list(range(1,10))   # el 10 no se incluye

In [ ]:
list(range(5))   # lista desde el 0 hasta el 4

In [ ]:
for i in range(5):   # la variable i es una variable instrumental, hace referencia al index
    print(i)

In [ ]:
ciudades =["Roma", "Londres", "París", "Madrid", "Berlín"]

for i in range(len(ciudades)):
    print(ciudades[i])

## `For` ... `enumerate`

In [ ]:
for i, v in enumerate(ciudades):   # i hace referencia al index y v hace referencia al valor
    print(f'{i+1} → {v}')

## Bucle `For` en un diccionario

In [ ]:
paco = {'nombre':'Francisco', 'edad':25, 'asegurado':True}
print(paco)
paco.items()    # muestra los items del diccionario que son las parejas clave, valor

In [ ]:
for k,v in paco.items():   # k es key, v es value
    print(f'{k} → {v}')

## Bucles `for` anidados

### Tabla de multiplicar

In [ ]:
for i in range(1, 4):
    for j in range(1, 11):
        print(f'{i} x {j} = {i*j}')
    print()

### Valores que suman lo mismo

In [ ]:
a = [1,3,5,7,9]
b = [2,4,6,8]

for i in a:
    for j in b:
        if i+j==11:
            print(f'{i} + {j} = 11')